@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthorizationLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword" asp-controller="Account">
			<input asp-for="@Model.EmailAddress" type="hidden">
			<input asp-for="@Model.Token" type="hidden">
			<input class="text" type="password" asp-for="@Model.Password" placeholder="Password" required="">
			<span asp-validation-for="@Model.Password" class="text-danger"></span>
			<input class="text" type="password" asp-for="@Model.ConfirmPassword" placeholder="Confirm Password" required="">
			<span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
			<input type="submit" value="Reset Password" >
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}